// Font utility classes
.font-f1 {
    font-family: "Formula1Display", sans-serif;
}

.font-f1-bold {
    font-family: "Formula1Display", sans-serif;
    font-weight: 700;
}

.font-f1-black {
    font-family: "Formula1Display", sans-serif;
    font-weight: 900;
}
